.wraper-prediction{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 50px;
}


.render-date{
    padding: 10px 5px;
    text-align: center;
}
.render-temp{
    padding: 7px 5px;
    text-align: center;

}

.contener-element{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.contener-element:hover{
    padding: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}
.render-description{
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 7px;
    max-width: 98px;
    min-width: 98px;
    min-height: 40px;
}
.render-icon{
    text-align: center;
}