body {
    margin         : 0px;
    background-color:#e0e0e0;

}
.wraper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    background-color:#EC6E4C;
    height: 40px;
    width: 100%;
}
.header-contener{
    background-color:#EC6E4C;
    height: 140px;
    width: 100%;
    position: absolute;
    top: 40px; left: 0px;
    z-index: -1; 
}
.logo {
    padding-top: 20px;   
    padding-left: 50px; 
    padding-bottom: 30px; 
    height: 90px;
    background-color:#48484A;
}
.logo-title{
    font-size: 32px;
    color: white;
}
.contener {
    display        : flex;
    height: auto;
    max-width: 1000px;
    min-width: 320px;
    padding-bottom: 50px;
    background-color:white;
    flex-direction: column;
    
}
.title{
    margin-left: 20px;
    color           : black;
    padding         : 20px 5px;
    margin          : 20px 50px 0px 50px;
    font-size      : 12px;
}
.city-name{
    color: #EC6E4C;
}
.widget {
    display         : flex;
    color           : white;
    padding         : 10px;
    margin          : 0px 50px;
    background: radial-gradient(circle farthest-corner at 200px 100px, #1C3264, #1C3264);
    border-radius   : 20px;
    flex-direction: column;
    max-width: 550px;
    min-width: 320px;

}

.item {
    margin : 10px;
    border-radius  : 20px;
}

.item.city {
    font-size      : 24px;
    display        : flex;
    justify-content:flex-start;
}
.item.temp {
    font-size      : 42px;
    display        : flex;
    justify-content: center;
}
.item.emotion {
    font-size      : 18px;
    display        : flex;
    justify-content: center;

}

.item.state {
    font-size      : 18px;
    display        : flex;
    justify-content: center;
    flex-wrap: wrap;

}
.btn{
    color: black;
    width: 150px;
    height: 30px;
    border: 0;
    background-color: darkgrey;
    margin: 5px;
    cursor: pointer;
    border-radius   : 20px;
}
.btn:hover{
    color: white;;
    background-color: royalblue;


}

.list-city   {
    display         : flex;
    color           : black;
    padding         : 10px;
    margin          : 0px 50px;
    border-radius   : 20px;
    flex-direction: column;

}
.title-list-city{
    margin-left: 20px;
    color           : black;
    padding         : 20px 5px;
    margin          : 50px 50px 0px 50px;
    font-size      : 22px;
}
.footer{
background-color: #48484A;
height: 140px;
width: 100%;
color:white;
}